{% if messages %}
    {% for message in messages %}
        <div style="background-color:{% if message.tags == 'error' %} rgba(255, 0, 0, 0.8) {% elif message.tags == 'success' %} rgba(0, 195, 0, 0.8) {% endif %}; margin: 0 20px 0 20px; padding: 2px 10px">
            {{ message }}
        </div>  
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data" class="mt-3" id="contactForm">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="vacancy-file" class="file-label">Vacancy file</label>
    <span id="file-name">Файл не вибрано</span>
    {{ form.file }}
    <div style="margin-top: 1rem;">
        <button class="btn primary post" type="submit" id="submitBtn">Send</button>
    </div>
</form>

<script>
    const form = document.getElementById("contactForm");
    const submitBtn = document.getElementById("submitBtn");

    form.addEventListener("submit", function() {
        submitBtn.disabled = true;
        submitBtn.innerText = "Processing...";
    })

    const input = document.getElementById("vacancy-file");
    const fileName = document.getElementById("file-name");

    input.addEventListener("change", () => {
        fileName.textContent = input.files[0]?.name || "Файл не вибрано";
    });

    document.querySelector("form").addEventListener("submit", function (e) {
        const phone = document.getElementby("phone").value.trim();
        const message = document.getElementby("message").value.trim();
        const file = document.getElementby("file").value;

        if (!phone && !message && !file) {
            alert("Send at least your phone number or a message or a file");
            e.preventDefault();
        }
    });
</script>